# THIS IS A TEMPLATE FOR THE ENVIRONMENT FILE, THIS FILE WILL NOT BE LOADED INTO THE PROGRAM.
# TO RUN THE PROGRAM, CREATE A SEPARATE `.env` FILE IN THE `./config/` DIRECTORY AND COPY THE CONTENT FROM 
# `.env.template` FILE AND REPLACE THE VALUE WITH YOUR VERSION
# IF NEEDED, FOR LOCAL DEVELOPMENT, YOU CAN ALSO CREATE A `.env.dev` FILE IN THE `./config/` DIRECTORY.
# THE CONTENT INSIDE OF THE DEV ENVIRONMENT FILE WILL OVERRIDE THE CONTENT OF THE `.env` FILE.

GMAIL_SMTP_USERNAME=""
GMAIL_APP_PASSWORD=""
GMAIL_SMTP_FROM_EMAIL=""
FIREBASE_SERVICE_ACCOUNT_PATH=""
FIREBASE_PROJECT_ID=""

SOCIAL_FACEBOOK_CLIENT_ID=""
SOCIAL_FACEBOOK_CLIENT_SECRET=""

SOCIAL_TIKTOK_CLIENT_KEY=""
SOCIAL_TIKTOK_CLIENT_SECRET=""

TOKEN_STORAGE_ENCRYPTION_KEY=""

AWS_S3_BUCKET_ENDPOINT=""
AWS_S3_BUCKET_ACCESS_KEY=""
AWS_S3_BUCKET_SECRET_KEY=""
AWS_S3_STREAMING_BUCKET_ENDPOINT=""
AWS_S3_STREAMING_BUCKET_CLOUDFRONT_DOMAIN=""
AWS_S3_STREAMING_BUCKET_ACCESS_KEY=""
AWS_S3_STREAMING_BUCKET_SECRET_KEY=""

DATABASE_HOST=""
DATABASE_PORT=""
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_DBNAME=""

CACHE_HOST=""
CACHE_PORT=""
CACHE_DB=""
CACHE_PASSWORD=""

RABBITMQ_URL=""
RABBITMQ_HOST=""
RABBITMQ_PORT=""
RABBITMQ_USERNAME=""
RABBITMQ_PASSWORD=""
RABBITMQ_VHOST=""

AI_PROVIDERS_GEMINI_API_KEY=""
AI_PROVIDERS_OPENROUTER_API_KEY=""
AI_PROVIDERS_MOONSHOT_API_KEY=""

PREORDER_OPENING_CHECK_ENABLED="false"
PAYOS_EXPIRY_CHECK_ENABLED="false"

PAYOS_CLIENT_ID=""
PAYOS_API_KEY=""
PAYOS_CHECKSUM_KEY=""

JWT_VAULT_ENABLED="false"
JWT_VAULT_ADDRESS=""
JWT_VAULT_TOKEN=""
TOKEN_STORAGE_VAULT_PATH_PREFIX=""
TOKEN_STORAGE_USE_VAULT=""

CTR_AGGREGATION_ENABLED="" # Enable/disable automatic CTR aggregation from click_events to kpi_metrics
CTR_AGGREGATION_INTERVAL_MINUTES="" # Interval in minutes for CTR aggregation cron job
EXPIRED_CONTRACT_CLEANUP_ENABLED=""
EXPIRED_CONTRACT_CLEANUP_CRON_EXPR="" # Daily at midnight
PAYOS_EXPIRY_CHECK_ENABLED="" # Enable/disable PayOS expired payment link cancellation
PAYOS_EXPIRY_CHECK_INTERVAL_MINUTES="" # Interval in minutes for PayOS expiry check cron job
PREORDER_OPENING_CHECK_ENABLED="" # Enable/disable preorder opening check
PREORDER_OPENING_CHECK_INTERVAL_MINUTES="" # Interval in minutes for preorder opening check cron
SOCIAL_METRICS_POLLER_ENABLED=""
SOCIAL_METRICS_POLLER_INTERVAL_CRON_EXPR="" # Every 30 seconds
TIKTOK_STATUS_POLLER_ENABLED=""
DAILY_CRON_JOB_ENABLED=""
DAILY_CRON_JOB_CRON_EXPR="" # Every day at 00:00 (with seconds: sec min hour day month weekday)
DAILY_CRON_JOB_WORKER_COUNT=""

CENSORSHIP_INTERVAL_MINUTES="1"
